*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 100px;
    margin: auto;
    width: 100%;
    min-height: 100 vh;
    background-color: blueviolet;;
}
.titulo{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 10rem;
}